*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(/headphones/images/headphones_hero_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    font-family: "Source sans pro" , sans serif;
}
header{
    font-family: "Source sans pro" , sans serif;
    font-weight: 100;color: white;
    width: 100%;
    height: fit-content;
    margin-top: 30px;
}

nav a{
    text-decoration: none;
    color: white;
}

button{
    margin: 10px 10px;
    padding: 10px 15px;
    border-radius: 40px;
    width: 250px;
    height: 60px;
    font-size: 20px;
    top: 50%;
    text-align: center;
    left: 50%;
    color: #ffffff;
    background-color: #FF6565;
    box-shadow: 0 8px 16px rgba(0,0,0,0.25) ;
    border: none;
    cursor: pointer;
    -ms-transform: translate(100%, 100%);
    transform: translate(270%, 70%);
  }

  button a:hover{
    opacity: 0.9;
  }
  