*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-image: url(/css_advanced/images/background.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

/* Header */
header{
    font-family: "Source sans pro" , sans serif;
    font-weight: bold;color: white;
    width: 100%;
    height: fit-content;
    margin-top: 30px;
}

@font-face {
    font-family: 'CustomFont';
    src: url(/css_advanced/SourceSansPro-Regular.otf);
    src: url(/css_advanced/SourceSansPro-Bold.otf);
}

.smilelogo{
    display: inline-block;
    width: 12%;
    height: fit-content;
    margin-left: 50px;
    margin-top: 15px;
}

nav a:hover{
    color: #C271FF;
}

nav a{
    text-decoration: none;
    color: white;
}

.navbar{
    justify-content: space-between;
    align-items: center;
    width: 98%;
    display: flex;
    flex-direction: row;
}
nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

nav li{
    display: inline-block;
    margin: 20px;
}

.section1{
    height: 1100px;
    padding-bottom: 0;
    margin-bottom: -95px;
}

h1{
 color: white; 
 font-family: "Source sans pro" , sans serif;
 font-size: 200px;
 text-align: center;
 padding: 0;
 margin-top: 10%;
}

button{
  margin: 10px 10px;
  padding: 10px 15px;
  border-radius: 40px;
  width: 250px;
  height: 60px;
  font-size: 20px;
  top: 50%;
  text-align: center;
  left: 50%;
  color: #ffffff;
  background-color: #C271FF;
  box-shadow: 0 8px 16px rgba(0,0,0,0.25) ;
  border: none;
  cursor: pointer;
  -ms-transform: translate(100%, 100%);
  transform: translate(270%, 70%);
}

.container{
    text-align: center;
    max-width: 100%;
    padding: 0;
}

span{
    font-family: "Source sans pro" , sans serif;
    font-size: 25px;
    justify-content: space-between;
    margin-right: 120px;
    color: white;
    align-items: center;
    display: inline-block; 
}
.protitle{
    font-family: "Source sans pro" , sans serif;
    font-weight: lighter;
    font-size: 50px;
    margin: 170px 0 0 0px;
    color: white;
    text-align: center;
}

.learn{
    font-family: "Source sans pro" , sans serif;
    font-size: 50px;
    font-weight: bold;
    margin: 0px 0 0 0px;
    color: #C271FF;
    text-align: center;  
}
.pros{
   padding: 0 0 0 50px;
   display: inline-flex;
   flex-direction: column;
   align-items: center;
   width: 23%;
   margin: 50px 0 10px 0;
}

.proimage{
    width: 50%;
    height: auto;
}

.proname{
    color: #ffffff;
    font-family: "Source sans pro" , sans serif;
    font-size: 25px;
    text-align: center;
}
.prodeet{
    color: #ffffff;
    font-family: "Source sans pro" , sans serif;
    font-size: 20px;
    font-style: italic;
    text-align: center;
}

.quote{
    width: auto;
    background-color: #C271FF;
    padding: 8% 0 10% 10%;
    color: #ffffff;
    font-family: "Source sans pro" , sans serif;
    font-size: 25px;
}
.redman{
    width: 20%;
    float: left;
    padding-right: 5%;
}

.persontitle{
    font-style: italic;
}


.vidtitle{
    font-family: "Source sans pro" , sans serif;
    font-weight: lighter;
    font-size: 50px;
    margin: 100px 10px 0px;
    color: #071629;
    text-align: center;
}

.popular{
    color: #C271FF;
    font-family: "Source sans pro" , sans serif;
    font-weight: bold;
    font-size: 50px;
    margin: 0 0 0 0;
    
}

.vidrow{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.vid1 {
    position: relative;
    width: 50%; 
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
    margin: 60px;

}

.vid1 img{
    width: 90%;
    height: auto;
    margin-bottom: 20px;
    
}

.play-button {
    position: absolute;
    top: 23%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    padding: 100px 100px;
    cursor: pointer;
    width: 10%;
}

.vid1 h3{
    font-family: "Source sans pro" , sans serif;
    font-weight: bold;
    font-size: 20px;
    color: #071629;
    text-align: justify;
    direction: rtl;
    float: right;
    padding-bottom: 1%;
}

.vid1 p{
    font-family: "Source sans pro" , sans serif;
    font-weight: regular;
    font-size: 15px;
    color: #07162950;
    padding-bottom: 3%;
}

.review{
    display: flex;
    align-items: center;
    flex-direction: row;
    
}

.review img{
    width: 20%;
    float: left;
    padding-right: 5%;
    transform: translate(0%, 20%);
}

.review h4{
    font-family: "Source sans pro" , sans serif;
    font-weight: 600;
    font-size: 20px;
    color: #C271FF;
}

.rating{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-right: 30%;
}

.rate{
    width: 500%;
    float: left;
    padding-right: 15%;
    transform: translate(0%, 30%);
    
}

.rating p{
    color: #C271FF;
    width: 20%;
}

.membership{
    width: auto;
    background-color: #071629;
    padding: 5% 0 8% 0%;
    color: #ffffff;
    font-family: "Source sans pro" , sans serif;
    font-size: 25px;
    display: flex;
    flex-direction: column;
}

.benefits{
        padding: 0 0 0 0px;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        width: 23%;
        margin: 50px 0 10px 0;
}

.benefits img{
    width: 20%;
    padding-bottom: 10%;
}

.benefits h3{
    color: #ffffff;
    font-family: "Source sans pro" , sans serif;
    font-size: 20px;
    text-align: center;
}

.benefits p{
    color: #ffffff;
    font-family: "Source sans pro" , sans serif;
    font-size: 15px;
    font-weight: 300;
    text-align: center;
}

.membership h2{
    font-family: "Source sans pro" , sans serif;
    font-weight: 300;
    font-size: 50px;
    color: #ffffff;
    text-align: center;
}

.membership span{
    font-family: "Source sans pro" , sans serif;
    font-weight: bold;
    font-size: 50px;
    color: #C271FF;
    margin:0;
}

.column{
    flex: 50%;
    margin: 50px;
    font-size: 15px;
}
 .row{
    display: flex;
    margin: 80px;
    padding: 0% 10% 0% 10%;
 }

 .faq{
    padding: 5% 0 0 0;
    color: #071629;
    font-family: "Source sans pro" , sans serif;
    display: flex;
    flex-direction: column;
 }

 .faq h2{
    font-family: "Source sans pro" , sans serif;
    font-weight: 300;
    font-size: 70px;
    color: #071629;
    text-align: center;
 }

 .column h3{
    padding-bottom: 6%;
 }

 .top{
    padding-bottom: 15%;
 }

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.end{
    width: auto;
    background-color: #071629;
    padding: 0% 0 2% 0%;
    font-family: "Source sans pro" , sans serif;
    font-size: 15px;
}

.end p{ 
    color: #aeaeae4e;
}

footer p {
    color: #FFF;
    padding-bottom: 20px;
    text-align: center;
}

  
  .socialicons .facebook, .twitter, .instagram {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 3.125rem;
    height: 3.125rem;
    padding: 0;
    margin-right: 30px;
    margin-top: 50px;
  }
  
  .socialicons .facebook {
    background-image: url(/css_advanced/images/Facebook_White.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 1000px;
  }
  
  .socialicons .twitter {
    background-image: url(/css_advanced/images/Twitter_White.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .socialicons .instagram {
    background-image: url(/css_advanced/images/Instagram_White.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  